#services {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  max-width: 1200px;
  margin-inline: auto;
}



.services-card {
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 250px;
    height: 300px;

    padding: 2em 1em;

    border-radius: 20px;


    text-align: center;

    transition: all .3s ease;

    cursor: pointer;

    img {
        width: 20px;
    }
}

.services-card:hover {
    box-shadow: .5em .5em 0 rgba(0, 0, 0, 1);
}



/* RESPONSIVE */
@media (max-width: 768px) {
    .services-card {
        width: 100%;
    }
}