#about-us {
    background-image: url("/assets/images/slide2Image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    justify-content: flex-end;

    .about-us__content {
        max-width: 40%;
        display: flex;
        flex-flow: column;
        gap: 2em;

        margin: 10em 0;
    }
}