#hero {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.hero__text {
    max-width: 50%;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.hero__text p {
    font-size: 2rem;
}



/* RESPONSIVE */
@media (max-width: 1240px) {
    #hero {
        flex-flow: column;
    }

    .hero__text {
        max-width: 100%;
    }
}